<div class="page article js_show">
    <div class="page__hd">
        <p class="page__desc">详情: <a href="{{object.source_url}}">原文</a></p>
    </div>
    <div class="page__bd">
        <article class="weui-article">
            <!-- <h1>大标题</h1> -->
            <section>
                <h2 class="title">{{object.title}}</h2>
                <section>
                   {{object.content | safe}}
                </section>
                 
            </section>
        </article>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png"></a>
    </div>
</div>